<router-outlet></router-outlet>
<!-- <app-like-widget
  [likes]="likes"
  (liked)="like()"
></app-like-widget> -->

<!-- Teste do photoFrame -->
<!-- <app-photo-frame
  [likes]="likes"
  description="Some description"
  src="https://picsum.photos/200/300"
  (liked)="like()"
  ></app-photo-frame> -->


  <!-- src="https://picsum.photos/200/300" -->


<!--Teste app-photo-board  -->
<!-- <app-photo-board
  [photos]="photos$ | async"
></app-photo-board> -->


<!-- <router-outlet></router-outlet> -->
